mixin toolbar

	div.adorn-toolbar

		div.adorn-breadcrumbs

		div.adorn-links
			if user
				a(href="./logout")= "Signout"


			if query && query.redirect_uri
				= " "
				a(href=query.redirect_uri + "?error=cancelled&state=" + query.state)= "Cancel"

			= " "

			+continue

mixin continue
	if query && query.redirect_uri && user
		a(class="button green",href="?" + auth_response + "&redirect_uri=" + query.redirect_uri)= "Continue"


doctype html
html
	head
		title
			= "HelloJS federated signin demo"
		include meta

		link(rel="stylesheet", href="//adodson.com/css-social-buttons/css/zocial.css")
		link(rel="stylesheet", href="./profile.css")

	body

		+toolbar

		include head

		h2= "Connections"
		div.connections
			for cred in credentials
				if user && user.connections && user.connections[cred.name]
					- var profile = user.connections[cred.name];
					p
						span(class="icon zocial " + cred.name)
						= " logged in as "
						if profile.picture
							img(src=profile.picture, width=50)
						b
							= profile.displayName
				else
					div(class=cred.name)
						a.button(href=cred.url, class="zocial " + cred.name)
							= "Connect via " + cred.name

		if user
			h2="Continue"

		+continue

