mixin toolbar

	div.adorn-toolbar

		div.adorn-breadcrumbs

		div.adorn-links
			if user
				a(href="./logout")= "Signout"


			if query && query.redirect_uri
				= " "
				a(href=query.redirect_uri + "?error=cancelled&state=" + query.state)= "Cancel"

			= " "

			+continue

mixin continue
	if query && query.redirect_uri && user
		a(class="button green",href="?" + auth_response + "&redirect_uri=" + query.redirect_uri)= "Continue"


doctype html
html
	head
		title
			= "HelloJS federated signin demo"
		include meta

		link(rel="stylesheet", href="//adodson.com/css-social-buttons/css/zocial.css")
		link(rel="stylesheet", href="./profile.css")

	body

		+toolbar

		include head

		h2= "Connections"
		section
			ul.connections
				for cred in credentials
					li(class="connection " + cred.name)
						a.button(href=cred.url, class="zocial icon " + cred.name)
						div
							- var profile = user && user.connections ? user.connections[cred.name] : null;

							div.what
								= cred.name.replace(/^[a-z]/, m => {return m.toUpperCase();})

							if profile
								div.who
									= profile.displayName
									if profile.picture
										img(src=profile.picture)

							div
								a(href=cred.url)
									= profile ? "Reconnect" : "Connect"


		if user
			h2="Continue"

		+continue

